<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.notasservice.domain.mapper.NotaMapper">

    <insert id="inserir"  useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.example.notasservice.domain.model.Nota">

        INSERT INTO nota (numero_nota_fiscal, produto_id) VALUES (#{numeroNotaFiscal}, #{produto.id})
    </insert>

</mapper>